@model IEnumerable<Jobs>
@{
    ViewData["Title"] = "JobsPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="companies-info">
    <div class="container">
        <div class="company-title">
            <h3>All Jobs</h3>
        </div><!--company-title end-->
        <div class="companies-list">
            <div class="row">

                @foreach (var aa in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="~/images/resources/cmp-icon2.jpg" alt="">
                                <h3>@aa.CompanyName</h3>
                                <h4>@aa.JobName</h4>
                                <h4>@aa.JobDesc</h4>
                                <a href="mailto:'@aa.Email'" title="" class="view-more-pro">@aa.Email</a>
                            </div>
                        </div><!--company_profile_info end-->
                    </div>
                }

            </div>
        </div><!--companies-list end-->
    </div>
</section><!--companies-info end-->
